@import './variables';

*{
 font-family: Arial, Helvetica, sans-serif;
}

#app{
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 23%;
    border: 2px solid $our-grey;
    margin: 10px;
    position: relative;
    min-width: 300px;

    .discount {
        background-color: $our-green;
        color: #fff;
        margin-top: 30px;
        position: absolute;
        width: 56px;
        padding: 5px 1px;
        text-align: center;
        font-size: 12px;
    }

    &__img-container {
        height: 200px;
        margin: 30px 56px;
        border: 2px solid $our-grey;
        background-color: $our-grey;
    }
    &__details {
        background-color: $our-grey;
        padding: 5px;
        color: #333;
    
        h2 {
            font-size: 16px;
            font-weight: 500;
        }
    
        img {
            min-height: 200px;
        }
    }
    &__bottom-container{
        display: flex;
        justify-content: space-between;

        button {
            background-color: transparent;
            border: 2px solid $our-blue;
            color: $our-blue;
            border-radius: 5px;
            padding: 5px;font-weight: 700;
        }

    }
    &__pricing-container {
        
        & .price {
            padding-right: 8px;
            text-decoration: line-through; 
        }
    
        & .discount-price {
            color: #000;
            font-weight: 700;
        }
    }

}

h1 {
    font-weight: 100;
}

header{
    display: flex;
    padding: 5px 0px;
    margin-bottom: 10px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
    align-items: center;

    button{
        background-color: $our-blue;
        color: #fff;
        border-radius: 5px;
        border: 2px solid $our-blue;
        padding: 5px;
        width: 120px;
    }
}

.cart {
    display: flex;
    justify-content: space-between;
}

.cart__price-container {
    width: 30%;
    border: 3px solid #ccc;
    // margin: 10px;

}

.cart__price-container h3, .cart__price-container p {
    padding: 0px 10px;
}

.cart__product-container {
    width: 65%;
    margin: 10px;

}

.item-name {
    width: 60%;
    display: inline-block;
}

.item-qty {
    // width: 15%;
    display: inline-block;
    padding:5px;
    border: 2px solid #ccc;
}
.item-price {
    width: 15%;
    display: inline-block;
    text-align: end;
}

.heading-row {
    padding: 10px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-name-head {
    width: 53%;
}

.total {
    background-color: $our-grey;
    padding: 10px;
}

#product-row {
    padding: 10px;
}

.products-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-container .item-name {
    padding: 2px;
    border: 2px solid #ccc;
    margin: 5px;
    width: 56%;
}

.dec, .inc {
    cursor: pointer;
}

.price p, .total {
    display: flex;
    justify-content: space-between;
}

body {
    padding: 10px;
}

#items-selected {
    background-color: $our-green;
    color: #fff;
    padding: 10px;
    display: none;
}

#item-count {
 border-radius: 50%;
 border: 1px solid #ccc;
 width: 20px;
 height: 20px;
 display: block;
 position: absolute;
 top: -10px;
 right: -10px;
 background-color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 display: none;
}
#item-count.show {
    display: flex;
}

header a {
    color: #000;
    position: relative;

}

.remove-product {
    float: right;
    font-weight: 700;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
}